Django==3.2.*  # Latest LTS version
django-environ
django-extensions
requests
psycopg2

####### OPTIONAL FEATURES #######
# START_FEATURE django_social
social-auth-app-django
# END_FEATURE django_social

# START_FEATURE crispy_forms
django-crispy-forms
# END_FEATURE crispy_forms

# START_FEATURE django_storages
django-storages
# END_FEATURE django_storages

# START_FEATURE docker
gunicorn
# END_FEATURE docker

# START_FEATURE sentry
sentry-sdk
# END_FEATURE sentry

# START_FEATURE django_ses
django-ses
# END_FEATURE django_ses

# START_FEATURE pre-commit
pre-commit
flake8
isort
# END_FEATURE pre-commit
################################

# Convenience
ipython
werkzeug
pip-tools

# Security
cryptography==3.3.2  # Lock to 3.3.2 if running into "No module named 'setuptools_rust'" error