Django==4.2.*  # Latest LTS version
django-environ
django-extensions>=3.2
requests
psycopg2

####### OPTIONAL FEATURES #######
# START_FEATURE elastic_beanstalk
ec2_metadata
# END_FEATURE elastic_beanstalk

# START_FEATURE django_social
social-auth-app-django
# END_FEATURE django_social

# START_FEATURE crispy_forms
django-crispy-forms
crispy-bootstrap5
# END_FEATURE crispy_forms

# START_FEATURE django_react
django-react-components
django-webpack-loader==0.7.0
# END_FEATURE django_react

# START_FEATURE sentry
sentry-sdk
# END_FEATURE sentry

# START_FEATURE django_storages
django-storages
# END_FEATURE django_storages

# START_FEATURE docker
gunicorn
# END_FEATURE docker

# START_FEATURE sentry
sentry-sdk
# END_FEATURE sentry

# START_FEATURE django_ses
django-ses
# END_FEATURE django_ses

# START_FEATURE sass_bootstrap
django-compressor
django-sass-processor
libsass
# END_FEATURE sass_bootstrap

################################

# Convenience
ipython
