Django==2.2.*
django-environ
django-extensions
requests
psycopg2

####### OPTIONAL FEATURES #######
# START_FEATURE django_social
social-auth-app-django
# END_FEATURE django_social

# START_FEATURE crispy_forms
django-crispy-forms
# END_FEATURE crispy_forms

# START_FEATURE django_storages
django-storages
# END_FEATURE django_storages
################################

# Convenience
ipython
werkzeug

# Security
cryptography>=3.3.2  # 2021-3-4