# START_FEATURE elastic_beanstalk
packages:
  yum:
    amazon-linux-extras: []
    jq: []

commands:
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql10
  02_postgres_install:
    command: sudo yum install -y postgresql-devel
  # START_FEATURE django_react, sass_bootstrap
  03_install_node:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "Node not installed; installing Node"'
    command: 'curl -sL https://rpm.nodesource.com/setup_12.x | sudo bash - && yum install -y nodejs'
  # END_FEATURE django_react, sass_bootstrap

container_commands:
  01_update_pip:
    command: |
      source $PYTHONPATH/activate
      pip install --upgrade pip
  02_install_requirements:
    command: |
      source $PYTHONPATH/activate
      pip install -r requirements.txt
  03_migratedb:
    command: |
      source $PYTHONPATH/activate
      python manage.py migrate --noinput
    leader_only: true

option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /health-check/

files:
  "/home/ec2-user/.bashrc":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      # .bashrc
      # Source global definitions
      if [ -f /etc/bashrc ]; then
        . /etc/bashrc
      fi
      # User specific aliases and functions
      source <(/opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""')
      source $PYTHONPATH/activate && cd /var/app/current
      alias db="cd /var/app/current/; python manage.py shell_plus"

  "/home/ec2-user/.inputrc":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    content: |
      ## arrow up
      "\e[A":history-search-backward
      ## arrow down
      "\e[B":history-search-forward

  "/opt/elasticbeanstalk/tasks/taillogs.d/cfn-init-cmd.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/cfn-init-cmd.log
# END_FEATURE elastic_beanstalk
