{% extends "base_templates/base.html" %}


{# START_FEATURE sass_bootstrap #}
{% load sass_tags %}
{# END_FEATURE sass_bootstrap #}

{% block title %}Home{% endblock %}

{% block head %}

{# START_FEATURE sass_bootstrap #}
  <link href="{% sass_src 'styles/pages/index.scss' %}" rel="stylesheet">
{# END_FEATURE sass_bootstrap #}
{% endblock %}

{% block body %}
  <div class="container">
    <p>Welcome to [PROJECT]. Please log in to continue.</p>
    
    {# START_FEATURE sass_bootstrap #}
    {# TODO: delete me; this is just a reference example #}
    <button class="btn btn-primary does-nothing-button">This button does nothing</button>
    {# END_FEATURE sass_bootstrap #}

    {# START_FEATURE direct_upload #}
    {% if user.is_authenticated %}
    <div class="my-4">
      <h3>Attachments</h3>
      <div class="my-3">
        <h5>Upload a file!</h5>
        <file-upload-direct
          field-id="field-id"
          field-name="field-name"
          upload-start-url="{% url 'attachment_upload_start' %}"
        ></file-upload-direct>
      </div>
      <table class="table my-3">
        <thead>
          <th>Filename</th>
          <th>Path</th>
          <th>Uploaded By</th>
          <th>Uploaded On</th>
          <th>File Size</th>
        </thead>  
        <tbody>
          {% for attachment in attachments %}
          <tr>
            <td>{{ attachment.name }}</td>
            <td>{{ attachment.file.name }}</td>
            <td>{{ attachment.user }}</td>
            <td>{{ attachment.upload_completed_on }}</td>
            <td>{{ attachment.file.size|filesizeformat }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script>
      window.csrfmiddlewaretoken = '{{ csrf_token }}'
    </script>
    {% endif %}
    {# END_FEATURE direct_upload #}
  </div>
{% endblock %}
