{# START_FEATURE sass_bootstrap #}
{% load sass_tags %}
{# END_FEATURE sass_bootstrap #}

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>[PROJECT] - {% block title %}{% endblock %}</title>
    {# START_FEATURE sass_bootstrap #}
    <link href="{% sass_src 'styles/base.scss' %}" rel="stylesheet">
    {# END_FEATURE sass_bootstrap #}
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="{% static 'js/dist/vue/main.css' %}">

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "base_templates/navbar.html" %}
    {% if not PRODUCTION and not LOCALHOST %}
    <div class="container-fluid alert alert-danger">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
          <h3>Warning</h3>
          <p>This is a test site.  Do not enter personal or sensitive data on this site.</p>
        </div>
      </div>
    </div>
    {% endif %}
    
    {# START_FEATURE bootstrap_messages #}
    <div class="container">
      {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
      <div class="container py-5">
        {% block body %}
        {% endblock %}
      </div>
    </div>
    {# END_FEATURE bootstrap_messages #}

    {# START_FEATURE direct_upload #}
    <script>
      window.csrfmiddlewaretoken = '{{ csrf_token }}'
    </script>
    {# END_FEATURE direct_upload #}

    {% block bottom_javascript %}
      <script type="module" src="{% static "js/dist/pages/default.js" %}"></script>
    {% endblock %}

  </body>
</html>
