{# START_FEATURE sass_bootstrap #}
{% load sass_tags %}
{# END_FEATURE sass_bootstrap #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>[PROJECT] - {% block title %}{% endblock %}</title>
    {# START_FEATURE sass_bootstrap #}
    <link href="{% sass_src 'styles/base.scss' %}" rel="stylesheet">
    {# END_FEATURE sass_bootstrap #}
    <link rel="icon" type="image/png" href="/static/favicon.png">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          [PROJECT]
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbar-items">
          <div class="navbar-nav gap-1">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="user-menu-dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="bi-person"></span> {{ user }}
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="user-menu-dropdown">
                  <form method="post" action="{% url 'logout' %}" class="nav-item d-grid">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Log Out</button>
                  </form>
                </div>
              </li>
            {% else %}
              <li class="nav-item d-grid">
                {# START_FEATURE django_social #}
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary navbar-btn">Log in with Google</a>
                {# END_FEATURE django_social #}
              </li>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    {% if not PRODUCTION and not LOCALHOST %}
    <div class="container-fluid alert alert-danger">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
          <h3>Warning</h3>
          <p>This is a test site.  Do not enter personal or sensitive data on this site.</p>
        </div>
      </div>
    </div>
    {% endif %}
    
    {# START_FEATURE bootstrap_messages #}
    <div class="container">
      {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
    {# END_FEATURE bootstrap_messages #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
