{# START_FEATURE direct_upload #}
<div id="app-{{ widget.id }}" class="card">
  <div class="card-body">
    <file-upload-dashboard
      field-name="{{ widget.name }}"
      :selected="{{ widget.value }}"
      queryset_json="{{ queryset_json|escape }}"
      upload-start-url="{{ upload_start_url }}"
      storage-backend="{{ storage_backend }}"
      multiple="{{ widget.attrs.multiple }}"
      selectable="{{ widget.attrs.multiple }}"
      :allowed-file-types="{{ widget.attrs.allowed_file_types }}"
      :required="{{ widget.attrs.required }}"
      :max-number-of-files="{{ widget.attrs.max_number_of_files }}"
    ></file-upload-dashboard>
  </div>
</div>
{# END_FEATURE direct_upload #}
